<header class="navbar">
  <a class="intelLogoClass" routerLink="">
    <picture>
      <source srcset="https://signin.intel.com/images/intel-logo.svg" type="image/svg+xml" />
      <img src="C:\Users\pmurug2x\code\ip-store\ipstore\ip-store\assets\images\intel_wht_rgb_3000.png" class="img-fluid logoClass" alt="Intel Logo" />
    </picture>
  </a>
  <h1 class="appHeading"><img [src]=myimage1 alt="App Icon" class="js-lazy-loaded qa-js-lazy-loaded appIcon appIconClass">
    SIMICS MODEL STORE
  </h1>
  <a class="homeLink" routerLink="/home"><i class="intelicon-home-solid" title="Home"></i></a>
</header>
